# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/exercicio1/exercise_1_serial_killers/dist/
/exercicio1/exercise_1_serial_killers/build/
/exercicio1/aula5-heap/build/
/exercicio1/aula5-heap/dist/
/exercise_2_heap/build/
/exercise_2_heap/dist/