# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/exercicio1/exercise_1_serial_killers/dist/
/exercicio1/exercise_1_serial_killers/build/
/exercicio1/aula5-heap/build/
/exercicio1/aula5-heap/dist/
/exercise_2_heap/build/
/exercise_2_heap/dist/
/exercise_2_serial_killers/build/
/exercise_2_serial_killers/dist/
/aula_8_linkedstack/dist/
/aula_8_linkedstack/build/
/aula_8_linkedqueue/build/
/aula_8_linkedqueue/dist/
/exercise_3_linkedqueue/dist/
/exercise_3_linkedqueue/build/
/aula_10_tree/build/
/aula_10_tree/dist/
/aula_11_grafos/build/
/aula_11_grafos/dist/
/graph_stack/build/
/graph_stack/dist/
/aula_13_shortest_path/build/
/aula_13_shortest_path/dist/